{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "@foundationjs/eslint"
  ],
  "rules": {
    "react/no-unescaped-entities": "off"
  }
}
