{
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "extends": [
    "@foundationjs/eslint"
  ],
  "rules": {
    "react/no-unescaped-entities": "off",
    "no-unused-vars": "off",
    "compat/compat": "off",
    "camelcase": "warn"
  },
  "plugins": [ "typescript", "import" ],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
